<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo">Untitled</h1>
            <ul class="menu">
                <li>
                    <input type="text" name="" id="" placeholder="가을 신상">
                    <i class="fas fa-search"></i>
                </li>
                <!-- 비로그인 -->
                <li><a href="#;">로그인</a></li>
                <li><a href="#;">회원가입</a></li>
                <!-- // 비로그인 -->

                <!-- 로그인 -->
                <li><a href="#;">상품 등록하기</a></li>
                <!-- // 로그인 -->
            </ul>
        </header>

        <div id="contents">
            <section id="gods">
                <h2>실시간으로 업데이트 되는 상품들을 만나보세요!</h2>
                <div class="gods">
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                    <div class="gods-inner">
                        <figure>
                            <img src="https://placeimg.com/200/200/nature" />
                        </figure>
                        <h3 class="gods-inner-tit">상품명</h3>
                        <p class="gods-inner-txt">쇼핑몰 이름</p>
                        <p class="gods-inner-price">상품 가격</p>
                    </div>
                </div>
            </section>            
        </div>
    </div>
</body>
</html>